<a href="https://colab.research.google.com/github/hsy19y/-/blob/main/3_20_%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1. 반복문 
2. #집합명.append() : 더하기, 
3. 집합명.remove() : 제외하기

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]
U1 = a+b
U2 = a+c

In [6]:
a = []
for i in range(1):
  a.append(i)
  print(a)

[0]

In [ ]:
b = []
for i in range(4,7):
  b.append(i)
  print(b)

[4]
[4, 5]
[4, 5, 6]

In [ ]:
c = []
for i in range(3,6):
  c.append(i)
  print(c)

[3]
[3, 4]
[3, 4, 5]

In [ ]:
U1

[1, 2, 3, 4, 5, 6]

In [28]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]
U1 = a+b
U2 = a+c
for i in a:
  if i in c:
    print(i)

3

In [23]:
#교집합
I = []
for i in a:
  if i in c:
#    print(i)
     I.append(i)
I

[3]

In [27]:
#합집합

for i in a:
  if i in c:
#    print(i)
     a.remove(i)
a

[1, 2]

In [29]:
U3 = a+c
U3

[1, 2, 3, 3, 4, 5]

In [30]:
for i in a:
  if i not in c:
    c.append(i)
c

[3, 4, 5, 1, 2]

In [ ]:
c.sort()

In [ ]:
c

[1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]
for i in a:
  if i not in c:
    a.remove(i)
a

[2, 3]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]
for i in b:
  if i not in c:
    b.remove(i)
b

[4, 5]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]
for i in c:
  if i not in b:
    c.remove(i)
c

[4, 5]

#while

In [36]:
num = 0 #초기화 필요
while num<10:
  print(num)
  num+= 1 #자체 업데이트 필요

0
1
2
3
4
5
6
7
8
9

In [81]:
print("원하는 단을 선택")
num_2 = int(input())
if num_2 < 10:
  num = 0
while num < 9:
  num += 1
  print(num*num_2)

원하는 단을 선택
5
5
10
15
20
25
30
35
40
45

In [88]:
while True:
 password  = input()
 if password == "333":
    print("통과, \n")
    break
 else:
  print("실패, \n")
 continue

333
통과, \password

In [ ]:
#순차곱이 fac>1000
#break

In [ ]:
#로또비밀번호6개 추출
import random
num_range = range(1,46)
num_list = list(num_range)
random.shuffle(num_list)
print(num_list)
len(num_list)

[11, 29, 26, 35, 10, 44, 2, 17, 38, 6, 22, 41, 8, 40, 37, 7, 18, 43, 5, 27, 19, 24, 12, 16, 9, 1, 15, 31, 34, 25, 45, 3, 36, 33, 4, 21, 28, 42, 14, 30, 39, 32, 13, 23, 20]

45

In [ ]:
lotto = []
while len(lotto)<6:
  random.shuffle(num_list)
  num_selected = num_list[-1]
  lotto.append(num_selected)
print(lotto)

[28, 26, 40, 28, 45, 9]



1.   random() 0~1 사이 flaot 리턴
2.  randinf(a,b) a,b사이 정수리턴

1. nu
2.   항목 추가

In [ ]:
A = []
while True:
  e = round(random.random(),2)
  A.append(e)
  if len(A) == 5:
    break
print(A)

[0.13, 0.21, 0.45, 0.65, 0.36]

In [103]:
num = 0
import random
while num < 10:
 e = round(random.randint(1,30))
 num += 1
 print(e)

16
28
11
11
3
29
10
13
16
19

In [ ]:
random.sample(num_list,6)

[14, 18, 13, 28, 22, 7]

In [ ]:
#과제 1.소수찾기(검색기 아니면 몇 이하),2.약수찾기,3.소인수 찾기, 4.최대공약수 5. 최소공배수
# while ~ append, break, continue 사용

In [33]:
num = int(input("정수를 입력: "))
if num == 1:
    print("1은 소수가 아님.")
elif num == 2:
    print("2는 소수임.")
else:
    for i in range(2, num):
      if num % i == 0:
        break
    if a:
        print(num, "소수입니다.")
    else:
        print(num, "소수가 아닙니다.")

정수를 입력: 23
23 소수입니다.

In [38]:
num = int(input("정수를 입력: "))
for i in range(1, num + 1):
  if num % i == 0:
    print(i)

정수를 입력: 64
1
2
4
8
16
32
64

In [11]:
num = int(input("정수를 입력: "))
a = []
for i in range(2, num+1):
    while num % i == 0:
        a.append(i)
        num /= i
else:
    print("소인수: ", a)

정수를 입력: 10
소인수:  [2, 5]

In [60]:
num = int(input("첫번째 정수를 입력 : "))
num_2 = int(input("두번째 정정수를 입력 : "))
for i in range(1, num + 1):
  if (num % i == 0) & (num_2 % i == 0):
    a = i   
print("%d와 %d의 최대공약수는 %d"%(num, num_2, a))

첫번째 정수를 입력 : 15
두번째 정정수를 입력 : 50
15와 50의 최대공약수는 5

In [67]:
num = int(input("첫번째 정수를 입력 : "))
num_2 = int(input("두번째 정수를 입력 : "))
c = num*num_2
if num < num_2:
 a = num
else: 
 num_2 < num
 a = num_2
 for i in range(a, 0, -1):
    if (num % i == 0) and (num_2 % i == 0):
        gcd = i
        break
A = c // gcd
print("최소 공배수 : ", A)

첫번째 정수를 입력 : 15
두번째 정수를 입력 : 50
최소 공배수 :  150