<a href="https://colab.research.google.com/github/hsy19y/-/blob/main/4%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas 데이터 분석
1. df = 임시 파일명
2. df.head()  
3. df.info()  결측치 확인
4. IQR : 4분위
5. median
6. unique : 범주형 data의 level 수
7. freg : 출현 횟수

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/data_ex.csv")

In [ ]:
df.head()

non-null : 무응답이 아님

In [ ]:
df.info()

In [ ]:
df.sample(frac = 0.3)

In [ ]:
df.sum()

In [ ]:
df.count()

In [ ]:
df["ID"].sum()

In [ ]:
df.describe()

In [ ]:
df[["SEX", "AREA"]].describe()

In [ ]:
df["SEX"].unique()

In [ ]:
df["AREA"].sort.value()

데이터 시각화
1. hist(list )
2. bar(x,y)

In [ ]:
sex = df["SEX"].values.tolist()
plt.hist(sex)
plt.y([0, 50])
plt.xlable("sex")
plt.ylable("Num")

In [ ]:
grouned_sex = df.groupby("SEX")
print(grouned_sex)

1. 가장 많이 주문한 메뉴 top10
2. 아이템당 주문개수와 총량구하기 ->그룹바이

In [ ]:
file = "/content/chipotle.tsv"
chipo = pd.read_csv(file, sep = "\t")

In [ ]:
chipo.head()

In [ ]:
chipo.tail()

In [ ]:
chipo.info()

In [ ]:
chipo.isnull()

In [ ]:
chipo.isnull().sum()

1. 가장 많이 주문한 메뉴 top10

In [ ]:
item_name_10 = chipo['item_name'].value_counts()[:10]
print(item_name_10)

In [ ]:
for idx,(item,value)  in enumerate(item_name_10.items(),1):
  print("Top {} : {}      {}".format(idx,item,value))

In [ ]:
item_name = chipo['item_name'].value_counts()
item_name

In [ ]:
plt.hist(item_name, bins = 30)
plt.xlabel("ordered_item_name")
plt.ylabel("ordered_item_count")
plt.show()

## 아이템(item_name)별 주문수량(quantity) 분석
1. 아이템 별 주문수량 및 총량구하기
2. 시각화(bar)

In [ ]:
item_quantity = chipo.groupby('item_name')['quantity'].count()
item_quantity

In [ ]:
item_quantity.index

In [ ]:
item_quantity.values

In [ ]:
item_quantitiy_index = item_quantity.index.tolist()
len(item_quantitiy_index)
x = np.arange(len(item_quantitiy_index))

In [ ]:
x

In [ ]:
order_cnt = item_quantity.values.tolist()
print(order_cnt)

In [ ]:
plt.bar(x, order_cnt)
plt.xlabel('item_name')
plt.ylabel('ordered Count')
plt.title("Distribution of all Ordered Item")
plt.show()

## 주무당 평균 주문 금액 계산
1. 10달러 이상 주문한 주문번호 출력
2. 아이템 별 주문금액 분포도

In [ ]:
chipo.head()

In [ ]:
chipo.info()

In [ ]:
##item_price 를 수치형으로 변환
x = chipo['item_price']
chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x[1:]))

In [ ]:
chipo.info()

In [ ]:
##주문번호당 평균 금액 계산
item_price = chipo.groupby('order_id')['item_price'].sum()
item_price

In [ ]:
chipo.groupby('order_id')['item_price'].sum().mean()

In [ ]:
item_price.index

In [ ]:
## x: order_id (가격),  y: price 
item_price_index = item_price.index.tolist()

In [ ]:
x = np.arange(len(item_price_index))
x

In [ ]:
item_price_values = item_price.values.tolist()
print(item_price_values)

In [ ]:
plt.bar(x,item_price_values)
plt.xlabel('Order_ID')
plt.ylabel('Item price')
plt.ylim([0,130])
plt.title("Distribution of Item Price")
plt.show()

In [ ]:
## item_price hist()그리기
plt.hist(item_price, bins = 30)
plt.xlim([0,130])
plt.xlabel('item_prtice')
plt.ylabel('price_count')
plt.show()